
#titulo{
  color: green;
  text-align: center;
}

p#descricao {
  color: blue;  
}

p.promocao {
  text-align: center;
  background-color: lightgreen;
}

.nova{
  color: white;
}

/* todo mundo que tem id rodape, com classe final-pagina que seja do tipo p */

p.final-pagina#rodape{
  background-color: lightgray;
  text-align: center;
}


/* h1 {
  color: green;
}

p {
  color: blue;
}

strong {
  color: red;
} */